{% extends 'base.html' %}
{% block content %}
<div class="mb-10 font h-screen">
    <div class="pt-32  bg-white">
        <h1 class="text-center text-2xl font-bold text-amber-400 font">Escolhas a(s) loja(s) que deseja Adicionar</h1>
    </div>
    
    <div class="flex flex-col items-center text-gray-700">
        <form method="get" id="checkbox-form">    
            <label for="">steam</label><input type="checkbox" name="steam" id="steam">
            <label for="">nuuvem</label><input type="checkbox" name="nuuvem" id="nuuvem">
            <label for="">gog</label><input type="checkbox" name="gog" id="gog">
            <button id="checkbox-btn">Adicionar</button>
        </form>
    </div>
</div>
{% endblock %}