{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/8853/8853769.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>PromoGames</title>
</head>
<body class="bg-white">
    <nav class="fixed top-0 left-0 z-20 w-full border-b border-gray-200 bg-white py-2.5 px-6 sm:px-4">
        <div class="container mx-auto flex max-w-6xl flex-wrap items-center justify-between">
            <div class="flex items-end align-middle">
                <img src="https://cdn-icons-png.flaticon.com/512/8853/8853769.png" class="w-11 mr-2">
                <a href="/" class="hover:transform hover:scale-105 duration-300">
                    <span class="self-center whitespace-nowrap text-2xl font-semibold text-slate-700 hover:text-amber-400 font">
                        PromoGames
                    </span>
                </a>
            </div>

            <div class="mt-2 sm:mt-0 sm:flex md:order-2">
                <button type="button" class="rounde mr-3 hidden border border-gray-700 py-1.5 px-6 text-center text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-amber-300 hover:border-amber-400 hover:text-amber-400 md:inline-block rounded-lg hover:transform hover:scale-105 duration-300 font">Entrar</button>
                <button type="button" class="rounde mr-3 hidden bg-gray-700 py-1.5 px-6 text-center text-sm font-medium text-white hover:bg-amber-400 focus:outline-none focus:ring-2 focus:ring-amber-300 md:mr-0 md:inline-block rounded-lg hover:transform hover:scale-105 duration-300 font">Registrar</button>

                <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden" aria-controls="navbar-sticky" aria-expanded="false">
                <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <div class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto" id="navbar-sticky">
                <ul class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:text-sm md:font-medium font">
                    <li>
                        <a href="/" class="block rounded bg-amber-400 py-2 pl-3 pr-4 text-white md:bg-transparent md:p-0 md:text-amber-400 duration-300" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/" class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-amber-400 duration-300">Sobre</a>
                    </li>
                    <li>
                        <a href="/" class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-amber-400 duration-300">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="p-4 bg-white md:px-6 md:py-8 font">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex items-end mb-4 sm:mb-0">
                <img src="https://cdn-icons-png.flaticon.com/512/8853/8853769.png" class="mr-4 h-8" alt="Flowbite Logo"/>
                <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-500">PromoGames</span>
            </div>
            <ul class="flex flex-wrap items-center mb-6 sm:mb-0">
                <li>
                    <a href="/" class="mr-4 text-sm text-slate-400 hover:underline md:mr-6">Sobre</a>
                </li>
                <li>
                    <a href="/" class="mr-4 text-sm text-slate-400 hover:underline md:mr-6">Política de privacidade</a>
                </li>
                <li>
                    <a href="/" class="mr-4 text-sm text-slate-400 hover:underline md:mr-6">Licença</a>
                </li>
                <li>
                    <a href="/" class="text-sm text-slate-400 hover:underline">Contato</a>
                </li>
            </ul>
        </div>
        <span class="block text-sm mt-10 text-slate-400 sm:text-center">© 2023<a class="hover:underline"> PromoGames™</a>. Todos os direitos reservados.</span>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>